# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
pe/

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
.env.*

# IDE / Editor settings
.vscode/
.idea/

# macOS files
.DS_Store

# --- Project Specific ---
# Log files
*.log
logs/

# Generated model files
models/

# Generated reports
reports/

# Data files
data/

# Other
RUNBOOK.md
error.txt
synthetic data exp log.txt
notion/